# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/PFXImportPowershell/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- powershell: gci env:* | sort-object name | Format-Table -AutoSize | Out-File $env:BUILD_ARTIFACTSTAGINGDIRECTORY/environment-variables.txt

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: '**/?(OnPremValidation|PFXImportPS)/**/bin/**/$(BuildConfiguration)/**/?(*.exe|*.dll|*.xml|*.psd1|*.pdb)'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
 
- powershell: dir $env:BUILD_ARTIFACTSTAGINGDIRECTORY
 
- powershell: Compress-Archive -Path $env:BUILD_ARTIFACTSTAGINGDIRECTORY/src/PFXImportPowershell/OnPremValidation/IntunePFXCertConnetorValidationServer/bin/Release/ -DestinationPath $env:BUILD_ARTIFACTSTAGINGDIRECTORY/OnPremValidation.zip

- powershell: Compress-Archive -Path $env:BUILD_ARTIFACTSTAGINGDIRECTORY/src/PFXImportPowershell/PFXImportPS/bin/Release/ -DestinationPath $env:BUILD_ARTIFACTSTAGINGDIRECTORY/PFXImportPS.zip


- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: PFXImport
